.product-card-img {
  height: 400px; 
  object-fit: cover;
}

.card-buttons-overlay {
  display: flex;
  gap: 10px; 
  padding-top: 1rem; 

  visibility: hidden;
  opacity: 0;
  
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.product-card:hover .card-buttons-overlay {
  visibility: visible;
  opacity: 1;
}

.card-button {
  flex: 1; 
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0 !important; 
  padding: 0.75rem 0; 
}