.main-image-container, .main-image-placeholder {
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  margin-bottom: 1rem;
}

.main-image-container img, .main-image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.thumbnail-image {
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  opacity: 0.7;
}

.thumbnail-image:hover {
  opacity: 1;
  border-color: #aaa; 
}

.thumbnail-image.active {
  border-color: #333; 
  opacity: 1;
}

[data-bs-theme="dark"] .thumbnail-image:hover {
  border-color: #555;
}

[data-bs-theme="dark"] .thumbnail-image.active {
  border-color: #fff;
}