.main-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
}

.main-content {
  flex-grow: 1; /* Hace que el contenido principal crezca para ocupar todo el espacio disponible, empujando el footer hacia abajo */
}
