.header {
    min-height: 100px;
    border-bottom: 1px solid var(--bs-border-color);
    background-color: var(--bs-body-bg); 
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para la marca/logo */
.header .navbar-brand {
    font-weight: bold;
    font-size: 30px;
    color: var(--bs-navbar-brand-color) !important;
}

.header .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0.5rem;
    color: var(--bs-nav-link-color);
    position: relative;
    padding-bottom: 0.5rem;
}

.header .navbar-nav .nav-link span::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bs-nav-link-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.header .navbar-nav .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}

.header .navbar-nav .nav-link:hover span::after {
    transform: scaleX(1);
}


.navbar-toggler:focus {
    box-shadow: none;
}



@media (max-width: 991.98px) {
    .header {
        padding: 0.5rem 0;
        min-height: auto;
    }
    
    .header .container-fluid {
        align-items: flex-start;
    }
    
    .mobile-header-layout {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .mobile-header-top {
        text-align: center; 
        width: 100%;
        margin-bottom: 0.5rem; 
    }

    .mobile-header-bottom {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 100%;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        background-color: var(--bs-body-bg);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        z-index: 1000;
        border-bottom: 1px solid var(--bs-border-color);
    }
}