.header {
    min-height: 100px;
    border-bottom: 1px solid var(--bs-border-color);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para la marca/logo */
.header .navbar-brand {
    font-weight: bold;
    font-size: 30px;
    color: var(--bs-navbar-brand-color) !important;
    padding-right: 25px;
}

.header .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0.5rem;
    color: var(--bs-nav-link-color);
}

.header .navbar-nav .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}


.navbar-toggler:focus {
    box-shadow: none;
}


/* Estilos para pantallas pequeñas (móvil) - menores a 992px */
@media (max-width: 991.98px) {
    /* Centra el logo de forma absoluta en la vista móvil */
    .mobile-logo {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    /* Ajustes para el menú colapsado */
    .navbar-collapse {
        position: absolute;
        top: 100%; /* Se posiciona justo debajo del header */
        left: 0;
        width: 100%;
        /* CAMBIO: Usamos la variable para el color de fondo del body. */
        background-color: var(--bs-body-bg);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        z-index: 1000;
    }

    .navbar-nav {
        align-items: center; /* Centra los items del menú colapsado */
    }
}